/*
    Main Stylesheet
    Created by: Rafli Jaskandi
    Github: https://github.com/VladRafli
*/

* {
    margin: 0;
    padding: 0;
}
.wrapper {
    height: 100vh;
    width: 100vw;
}
.landing-page {
    background-image: url("https://cdn.pixabay.com/photo/2016/02/19/11/40/coffee-shop-1209863_1280.jpg");
    background-size: cover;
}
.layer {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
}
.landing-text {
    color: white;
}
.landing-text h1 {
    font-weight: 500;
    font-size: 52px;
}
.landing-text p {
    font-size: 24;
}
.landing-text .btn {
    height: 50px;
    width: 200px;
    border: 5px solid;
    border-radius: 25px;
}
.landing-about i {
    font-size: 64px;
}
.landing-search .bg-image {
    background-image: url("https://marvel-live.freetls.fastly.net/canvas/2020/3/7f86993e3864433abe37e2adee079549?quality=95&fake=.png");
    background-size: cover;
}